include README.rst
recursive-include ckanext/orgportals/templates *
recursive-include ckanext/orgportals/fanstatic *
recursive-include ckanext/orgportals/public *
recursive-include ckanext/orgportals/i18n *
