{#
Construct a facet module populated with links to filtered results.

name
  The field name identifying the facet field, eg. "tags"

#}

{% set items = items or h.orgportals_get_facet_items_dict(name.value) or h.get_facet_items_dict(name.value) %}

{% if subdashboard and subdashboard.name %}
  {% set subdashboard_name = subdashboard.name %}
{% else %}
  {% set subdashboard_name = None %}
{% endif %}

{% if items %}
  <section class="module module-narrow module-shallow">
    {% block facet_list_heading %}
      <h2 class="module-heading" {# style="background:{{ secondary_color }}; color:{{ font_base_color }};" #}>
        {% set title = title or name.name %}
        {{ title }}
      </h2>
    {% endblock %}
    {% block facet_list_items %}
      {% with items = items or h.get_facet_items_dict(name.name) %}

        {% if c.source == 'admin' %}
          {% if subdashboard_name %}
            {% set extras={'org_name': c.org_name, 'source': 'admin', 'subdashboard_name': subdashboard_name} %}
          {% else %}
            {% set extras={'org_name': c.org_name, 'source': 'admin'} %}
          {% endif %}
        {% else %}
          {% if subdashboard_name %}
            {% set extras={'subdashboard_name': subdashboard_name} %}
          {% else %}
            {% set extras={} %}
          {% endif %}
        {% endif %}

        {% if items %}
          <nav>
            <ul class="unstyled nav nav-simple nav-facet">
              {% for item in items %}
                {% set href = h.remove_url_param(key=name.value, controller=c.controller, action=c.action, extras=extras) if item.active
                              else h.orgportals_replace_or_add_url_param(name=name.value, value=item.name, params=request.params.items(), controller=c.controller, action=c.action, context_name=c.org_name, subdashboard_name=subdashboard_name, source=c.source) %}
                {% set label = label_function(item) if label_function else item.display_name %}
                {% set label_truncated = h.truncate(label, 50) if not label_function else label %}
                {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
                <li class="nav-item{% if item.active %} active{% endif %}">
                  <a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
                    <span>{{ label_truncated }} {{ count }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>

          <p class="module-footer">
            {% if h.get_param_int('_%s_limit' % name.value) %}
              {% if h.has_more_facets(name.value) %}
                <a href="{{ h.remove_url_param('_%s_limit' % name.value, replace=0, extras=extras, alternative_url=alternative_url) }}" class="read-more">{{ _('Show More {facet_type}').format(facet_type=title) }}</a>
              {% endif %}
            {% else %}
              <a href="{{ h.remove_url_param('_%s_limit' % name.value, extras=extras, alternative_url=alternative_url) }}" class="read-more">{{ _('Show Only Popular {facet_type}').format(facet_type=title) }}</a>
            {% endif %}
          </p>
        {% else %}
          <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>

        {% endif %}
      {% endwith %}
    {% endblock %}
  </section>
{% endif %}