{% set organization = h.orgportals_get_current_organization(c.org_name) %}
{% if organization.orgportals_base_color %}
  {% set base_color = "#" + organization.orgportals_base_color %}
{% else %}
  {% set base_color = "#1F549B" %}
{% endif %}

<footer class="footer-container" {# style="background: {{ base_color }}" #}>
  <div class="row">

    <div class="attribution">
      <p>
        <span id="footer-attribution-text">Powered by</span>
        <div style="white-space:nowrap" id="footer-attribution-content">
          <a class="hide-text" target="_blank" href="https://opengov.com/?utm_campaign=Footer-Product-OpenData&utm_source=OpenGov&utm_medium=product&utm_term=PO-OGOV-1274&utm_content=logo"><img src="/img/OpenGov_Logo.png" alt="">"OpenGov"</img></a>
          <a class="hide-text" target="_blank" href="http://ckan.org"><img src="/img/ckan_logo_white.png" alt="">"ckan"</img></a>
        </div>
      </p>
    </div>

  </div>
</footer>
