{% set org_name = org_name or c.org_name %}
{% set pages = h.orgportals_get_pages(org_name) %}

{% set ckan_29_or_higher = h.version(h.ckan_version()) >= h.version('2.9') %}
{% set orgportals_view_portal_route = 'orgportals_blueprint.view_portal' if ckan_29_or_higher else 'orgportals_view_portal' %}
{% set orgportals_datapage_show_route = 'orgportals_blueprint.datapage_show' if ckan_29_or_higher else 'orgportals_datapage_show' %}
{% set orgportals_library_show_route = 'orgportals_blueprint.library_show' if ckan_29_or_higher else 'orgportals_library_show' %}
{% set orgportals_contentpage_show_route = 'orgportals_blueprint.contentpage_show' if ckan_29_or_higher else 'orgportals_contentpage_show' %}
{% set orgportals_custompage_show_route = 'orgportals_blueprint.custompage_show' if ckan_29_or_higher else 'orgportals_custompage_show' %}

{% set orgportals_show_portal_homepage_route = 'orgportals_blueprint.show_portal_homepage' if ckan_29_or_higher else 'orgportals_show_portal_homepage' %}
{% set orgportals_show_portal_datapage_route = 'orgportals_blueprint.show_portal_datapage' if ckan_29_or_higher else 'orgportals_show_portal_datapage' %}
{% set orgportals_show_portal_library_route = 'orgportals_blueprint.show_portal_library' if ckan_29_or_higher else 'orgportals_show_portal_library' %}
{% set orgportals_show_portal_contentpage_route = 'orgportals_blueprint.show_portal_contentpage' if ckan_29_or_higher else 'orgportals_show_portal_contentpage' %}
{% set orgportals_show_portal_custompage_route = 'orgportals_blueprint.show_portal_custompage' if ckan_29_or_higher else 'orgportals_show_portal_custompage' %}

<header>
  {% snippet 'portals/snippets/language_switcher.html' %}

  {% set source = 'admin' %}

  {% if c.source == 'admin' %}
    {% set home_url = h.url_for(orgportals_view_portal_route, org_name=org_name, source=source) %}
  {% else %}
    {% set home_url = h.url_for(orgportals_show_portal_homepage_route) %}
  {% endif %}

  {%- set exclude_headers = [
    'home'
  ] -%}

  <div class="row data-header-container">
    <div class="organization-logo">
      <a href="{{ home_url }}" title="{{ org_display_name }} Portal"><img src="{{ h.orgportals_get_organization_image(org_name) }}" alt="{{ org_display_name }} Logo"></a>
    </div>

    <div class="col-header-nav">
      <nav class="top-navigation pull-right">
        <div class="">
          <ul class="list-inline">

            {% for page in pages %}

              {% if page.type == 'home' %}

                {% if c.source == 'admin' %}
                  {% set page_link = h.url_for(orgportals_view_portal_route, org_name=org_name, source=source) %}
                {% else %}
                  {% set page_link = h.url_for(orgportals_show_portal_homepage_route) %}
                {% endif %}

              {% elif page.type == 'data' %}

                {% if c.source == 'admin' %}
                  {% set page_link = h.url_for(orgportals_datapage_show_route, org_name=org_name, source=source) %}
                {% else %}
                  {% set page_link = h.url_for(orgportals_show_portal_datapage_route) %}
                {% endif %}

              {% elif page.type == 'library' %}

                {% if c.source == 'admin' %}
                  {% set page_link = h.url_for(orgportals_library_show_route, org_name=org_name, source=source) %}
                {% else %}
                  {% set page_link = h.url_for(orgportals_show_portal_library_route) %}
                {% endif %}

              {% elif page.type == 'default' %}

                {% if c.source == 'admin' %}
                  {% set page_link = h.url_for(orgportals_contentpage_show_route, org_name=org_name, page_name=page.name, source=source) %}
                {% else %}
                  {% set page_link = h.url_for(orgportals_show_portal_contentpage_route, page_name=page.name) %}
                {% endif %}

              {% elif page.type == 'custom' and page.name != 'resources' %}

                {% if c.source == 'admin' %}
                  {% set page_link = h.url_for(orgportals_custompage_show_route, org_name=org_name, page_name=page.name, source=source) %}
                {% else %}
                  {% set page_link = h.url_for(orgportals_show_portal_custompage_route, page_name=page.name) %}
                {% endif %}
              {% endif %}

              {% if c.page_name == page.name %}
                {% set page_active = 'true' %}
              {% else %}
                {% set page_active = 'false' %}
              {% endif %}

              {% if page.name not in exclude_headers %}
                <li><a href="{{ page_link }}" data-page-active="{{ page_active }}">{{ page.page_title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
