
{#
Displays a list of datasets.

packages            - A list of packages to display.
datasets_group_name - Name for the datasets group used for js handling
list_class          - The class name for the list item.
item_class          - The class name to use on each item.
truncate            - The length to trucate the description to (default: 300)
truncate_title      - The length to truncate the title to (default: 150).

Example:

  {% snippet 'snippets/package_list.html', packages=c.datasets, datasets_group_name='new_data' %}

#}

{% set truncate = truncate or 250 %}
{% set truncate_title = truncate_title or 150 %}
{% set datasets_group_name = datasets_group_name or 'anonymous' %}

{% if packages %}
  {% for package in packages %}
    {% set title = package.title or package.name %}
    {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
    <article class="data-set">
      <div class="row">
        <div class="col-md-12">
          <h3 class="data-set-title col-md-8">
            {{ h.markdown_extract(title, extract_length=truncate_title) }}
          </h3>
          <div class="dataset-actions">
            <a href="/dataset/{{package.name}}" target="_blank" class="view-dataset">
              <i class="fa fa-desktop "></i> {{ _('View dataset') }}
            </a>
            <button onclick="toggleResources('{{ datasets_group_name }}-resources-{{ package.id }}'); return false;"
                    aria-label="Toggle between hiding and showing resources and additional information for {{ title }}"
                    class="btn">
              <i class="fa fa-list-ul"></i>{{ _(' Toggle resources') }}
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-12">
          {% if notes %}
            <p>{{ notes }}</p>
          {% endif %}
        </div>
      </div>
      <div class="resources-list" id="{{ datasets_group_name }}-resources-{{ package.id }}">
        {% if package.resources %}
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h4>Data and Resources</h4>
            </div>
          </div>
          {% for resource in package.resources %}
            {% if resource.format == 'PDF' %}
            <div class="row">
              <div class="col-sm-12 col-md-12 resources-dropdown-name">
                <span class="format-label" property="dc:format" data-format="{{ resource.format.lower() }}">{{ resource.format }}</span>
                <div class="title-dsc-container">
                  {% if resource.name %}
                    <div class="resources-title">
                      <a href="{{ h.orgportals_get_resource_view_url(dataset=package.name, id=resource.id) }}" target="_blank">{{ resource.name }}</a></div>
                  {% else %}
                    <div class="resources-title col-sm-7 col-md-7">
                      <a href="{{ h.orgportals_get_resource_view_url(dataset=package.name, id=resource.id) }}" target="_blank">{{ _('Unnamed resource') }}</a></div>
                  {% endif %}

                  {% if resource.description %}
                    <div class="data-dsc">{{ h.markdown_extract(resource.description, extract_length=truncate) }}</div>
                  {% endif %}
                </div>                
                <div class="btn-group">
                  <a href="{{ resource.url }}" class="btn btn-sm btn-primary resource-download" target="_blank"><i class="fa fa-arrow-circle-o-down"></i>{{ _(' Download')}}</a>
                  {% set resource_view = h.orgportals_get_default_resource_view(resource.id) %}
                  {% if resource_view %}
                  <button class="btn btn-sm btn-primary resource-view" onclick="toggleResources('resource-view-{{ resource.id }}'); return false;">
                    <i class="fa fa-desktop "></i>{{ _(' View') }}
                  </button>
                  {% endif %}
{#
                  <a href="{{ h.orgportals_get_resource_view_url(dataset=package.name, id=resource.id) }}" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-desktop "></i> {{ _('Preview') }}</a>
#}
                </div>
                {% if resource_view %}
                <div class="resource-view hidden" id="resource-view-{{resource.id}}">
                    {% set src = h.url(qualified=true, controller='package',
                                 action='resource_view', id=package.name,
                                 resource_id=resource.id,
                                 view_id=resource_view.id)  %}
                    <iframe src="{{ src }}" frameborder="0" width="100%" height="500px" data-module="data-viewer" allowfullscreen>
                      <p>{{ _('Your browser does not support iframes.') }}</p>
                    </iframe>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="row">
            <div class="col-md-12">
              {{ _('This dataset does not contain any resources yet.') }}
            </div>
          </div>
        {% endif %}
        <div class="add-info-block">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h4>{{ _('Additional information') }}</h4>
            </div>
          </div>
          {% if package.author %}
            <div class="row">
              <div class="col-md-3">
                <strong>{{ _('Author') }}:</strong>
              </div>
              <div class="col-md-8 additional-information">
                {% if package.author_email %}
                  <a href="mailto:{{ package.author_email }}">{{ package.author }}</a>
                {% else %}
                  {{ package.author }}
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if package.maintainer %}
            <div class="row">
              <div class="col-md-3">
                <strong>{{ _('Maintainer') }}:</strong>
              </div>
              <div class="col-md-8 additional-information">
                {% if package.maintainer_email %}
                  <a href="mailto:{{ package.maintainer_email }}">{{ package.maintainer }}</a>
                {% else %}
                  {{ package.maintainer }}
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if package.url %}
            <div class="row">
              <div class="col-md-3">
                <strong>{{ _('Source') }}:</strong>
              </div>
              <div class="col-md-8 additional-information">
                <a href="{{ package.url }}">{{ package.url }}</a>
              </div>
            </div>
          {% endif %}

          {% if package.license_title %}
            <div class="row">
              <div class="col-md-3">
                <strong>{{ _('License') }}:</strong>
              </div>
              <div class="col-md-8 additional-information">{{ package.license_title }}</div>
            </div>
          {% endif %}

          {% if package.extras %}

            {% for extra in package.extras %}
            <div class="row">
              <div class="col-md-3">
                <strong>{{_(extra.key)}}:</strong>
              </div>
              <div class="col-md-8 additional-information">
                {{ extra.value }}
              </div>
            </div>
            {% endfor%}

          {% endif %}

          {% if package.metadata_modified %}
            <div class="row">
              <div class="col-md-3">
                <strong>{{ _('Last updated') }}:</strong>
              </div>
              <div class="col-md-8 additional-information">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=package.metadata_modified %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </article>
  {% endfor %}
{% endif %}
