{% extends 'portals/index.html' %}

{% block toolbar %}
{% endblock %}

{% block content %}
  {% if page.image_url and page.image_url_2 and page.image_url_3 %}
    {% snippet 'portals/snippets/home/hero_slider.html', title=page.content_title, intro=page.text_box,
               image_url=page.image_url, image_url_2=page.image_url_2, image_url_3=page.image_url_3 %}
  {% else %}
    {% set image_url = '/img/background_SardineLake.jpg' %}
    <div class="hero-content-container" style="background:url({{ image_url }}); background-size: cover; height:480px; z-index:-25">
      <div class="tint"></div>
      <div class="hero-content-container__content">
        <h3 class="hero-content-container__header">{{ page.content_title or c.org_name}}</h3>
        <div class="hero-content-container__secondary">{{ h.render_markdown(page.text_box) }}</div>
      </div>
    </div>
  {% endif %}
  <div class="row search-block">
    <div class="container">
      <p class="search-hint col-md-3">
        <span>
          Get started by searching from
          <b>{{ h.orgportals_get_dataset_count(c.org_name) }}</b>
        </span>
        <br>
        <span>
          datasets and maps
        </span>
      </p>      
      <div class="col-md-6">
        {% snippet 'portals/snippets/home/search.html' %}
      </div>
      <p class="search-hint search-doc col-md-3">
        <span>Try <a href = "/pages/advanced-search-documentation" ><u>Advanced Search Terms</u></a></span><br >
          <span>
            for more specific results
          </span>
      </p>
    </div>
  </div>
  {% if h.orgportals_get_group_list(c.org_name) %}
  <div class="main-browse">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="module-content box">
            <header>
              <h2 class="heading"><a href="/group">Topics</a></h2>
              <span class="heading-explanation">
                As datasets are published, they are tagged with categories so you can learn about popular topics. Explore them below.
              </span>
            </header>
            {% snippet 'portals/snippets/home/group_list.html', groups=h.orgportals_get_group_list(c.org_name) %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if h.orgportals_get_showcase_list(c.org_name) %}
  <div class="main-featured">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="module-content box">
            <header>
              <h2 class="heading"><a href="/showcase">Showcases</a></h2>
              <span class="heading-explanation">See what our users are doing with open data.</span>
            </header>
            {% snippet 'portals/snippets/home/showcase_list.html', showcases=h.orgportals_get_showcase_list(c.org_name) %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="main-updates">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          {% snippet 'portals/snippets/home/popular_datasets.html' %}
        </div>
        <div class="col-md-6">
          {% snippet 'portals/snippets/home/recent_datasets.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
