{% ckan_extends %}

{% set ckan_29_or_higher = h.version(h.ckan_version()) >= h.version('2.9') %}
{% set orgportals_pages_index_route = 'orgportals_blueprint.pages_index' if ckan_29_or_higher else 'orgportals_pages_index' %}
{% set orgportals_nav_bar_route = 'orgportals_blueprint.nav_bar' if ckan_29_or_higher else 'orgportals_nav_bar' %}
{% set orgportals_subdashboards_index_route = 'orgportals_blueprint.subdashboards_index' if ckan_29_or_higher else 'orgportals_subdashboards_index' %}

{% set group_dict = group_dict or c.group_dict %}

{% block content_primary_nav %}
  {{ super() }}
  {% if group_dict.orgportals_portal_created == '1' %}
    {{ h.build_nav_icon(orgportals_pages_index_route, _('Pages'), org_name=group_dict.name) }}
    {{ h.build_nav_icon(orgportals_nav_bar_route, _('Nav Menu'), org_name=group_dict.name) }}
    {# {{ h.build_nav_icon(orgportals_pages_index_route, _('Subdashboards'), org_name=group_dict.name) }} #}
  {% endif %}
{% endblock %}
