{% extends "organization/edit_base.html" %}

{% set ckan_29_or_higher = h.version(h.ckan_version()) >= h.version('2.9') %}
{% set type = 'asset' if ckan_29_or_higher else 'resource' %}

{% block styles %}
  {{ super() }}

  {% snippet 'portals/snippets/portal_' ~ type ~ '.html', name='orgportals/nav-bar-css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {% snippet 'portals/snippets/portal_' ~ type ~ '.html', name='orgportals/nav-bar-js' %}
{% endblock %}

{% block subtitle %}{{ _('Portal navigation bar') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <legend>
  <h2>{{ _('Change the order of navigation items') }}</h2>
  </legend>
  {% snippet 'organization/snippets/menu_list.html', menu=menu %}
  <b><p style="font-size: 12px;">Hint: Drag the handle to rearrange the items.</p></b>

{% endblock %}
