{% extends "organization/edit_base.html" %}

{% set ckan_29_or_higher = h.version(h.ckan_version()) >= h.version('2.9') %}
{% set orgportals_pages_edit_route = 'orgportals_blueprint.pages_edit' if ckan_29_or_higher else 'orgportals_pages_edit' %}

{% set group_dict = group_dict or c.group_dict %}
{% set pages = pages or c.pages %}

{% block subtitle %}{{ _('Portal pages') }} - {{ super() }}{% endblock %}

{% block page_primary_action %}
  {% link_for _('Add Page'), named_route=orgportals_pages_edit_route, org_name=group_dict.name, page='', class_='btn btn-primary', icon='plus-square' %}
{% endblock %}

{% block primary_content_inner %}
  <legend>
  <h2>{{ _('Portal pages') }}</h2>
  </legend>
  {% snippet 'organization/snippets/pages_list.html', pages=pages %}
{% endblock %}
